@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');


*{
    text-decoration: none;
}

:root{
    --cor-de-fundo: #e1e3ac;
    --cor-titulo-grande: #648a64;
    --cor--titulo-medio: #46685b;
    --cor--primaria: #213435;
    --cor1--para--botao: #a6b985;
    

}
body{
    background-color: var(--cor-de-fundo);
    padding: 0 15px;
}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    top: -15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--cor--primaria); 
    text-align:center ;
    
}
footer{
    border-top: 1px solid var(--cor--primaria);
    
}

.nav1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    list-style-type: none;
    padding-left: 0 ;
    
    
    
}

.navFi{
    padding: 5px 5px;
    margin: 5px 0;
    background-color: var(--cor1--para--botao);
    border-radius:10px ;
    
}

.navFi:hover{
    padding: 8px 8px;
    margin: 0px 0;
}

a.navA{
    color: black;
    font-family: 'Oswald';
    font-size: 15px;
    
}

.logo{
    display: flex;
    align-items: center;
    padding-top:35px ;
    height: 35px;
    width: 50px;
}

.tituloGrande{
    font-family: 'Alfa Slab One';
    font-size: 35px;
    margin: 30px;
    text-align: center;
}

.tituloMedio{
    font-family: 'Oswald';
    text-align:start;
    margin-top: 50px;
    color: var(--cor--titulo-medio);
}

.paragrafoNormal{
    font-family:'Noticia Text';
    font-size: 17px;
}
.topico{
    font-weight: bold;
}

.play2{
    display: flex;
    width: 90%; 
    margin: 0 auto;
    height:100%;
    margin-top: 25px;
    margin-bottom: 20px;
}
.play22{
    display: none;
}

.video{
    display: flex;
    width: 100%; 
    margin: 0 auto;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.botao{
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: var(--cor1--para--botao);
    border-radius:10px ;
    color: black;
    
}

.botao:hover{
    padding: 8px 8px;
    margin: 0px 0;
}

.img{
    display: none;
    border-radius: 10px;
}

@media (min-width:768px) and (max-width:1024px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        gap: 10px  20px;
        grid-template-areas:
        'nav nav'
        'titulo1 titulo1'
        'titulo2 play22'
        'paragrafo1 play22'
        'titulo3 titulo3'
        'video1 paragrafo2'
        'gta3 paragrafo2'
        'titulo4 titulo4'
        'paragrafo3 video2'
        'paragrafo3 re1'
        'paragrafo3 re2'
        'titulo5 titulo5'
        'video3 paragrafo4'
        'titulo6 titulo6'
        'paragrafo5 video4'
        'paragrafo5 gtavc1'
        'paragrafo5 gtavc2'
        'paragrafo5 gtavc3'
        'titulo7 titulo7'
        'video5 paragrafo6'
        'GT paragrafo6'
        'GT2 paragrafo6'
        'titulo8 titulo8'
        'paragrafo7 video6'
        'titulo9 titulo9'
        'video7 paragrafo8'
        'gowLogo paragrafo8'
        'gow1 paragrafo8'
        'gow2 paragrafo8'
        'gow3 paragrafo8'
        'titulo10 titulo10'
        'paragrafo9 video8'
        'paragrafo9 sc1'
        'paragrafo9 sc2'
        'titulo11 titulo11'
        'video9 paragrafo10'
        'mgs1 paragrafo10'
        'titulo12 titulo12'
        'paragrafo11 video10'
        'paragrafo11 sa1'
        'paragrafo11 sa2'
        'paragrafo11 sa3'
        'paragrafo11 sa4'
        'titulo13 titulo13'
        'paragrafo12 paragrafo12'
        'footer footer'
        
        
        ;
    }


    .navegacao{
        grid-area: nav;
        
        
    }
    .navFi{
        padding: 10px 15px;
        margin: 5px 0;
        background-color: var(--cor1--para--botao);
        border-radius:10px ;
        
    }
    .navFi:hover{
        padding: 15px 15px;
        margin: 0px 0;
    }


    #titulo1{
        grid-area: titulo1;
        font-size: 45px ;
    }


    #titulo2{
        grid-area: titulo2;
        font-size: 35px;
    }
    #paragrafo1{
        grid-area: paragrafo1;
        font-size: 20px;
    }
    .play2{
       display: none;
        
    }
    .play22{
        grid-area: play22;
        display: flex;
        width: 100%; 
        height: 80%;
        margin-top: 100px;
        
    }


    #titulo3{
        grid-area: titulo3;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo2{
        grid-area: paragrafo2;
        font-size: 20px;
    }
    #video1{
        grid-area: video1;
        margin: 0;
    }
    #imagemgta3{
        grid-area: gta3;
        display: flex;
        width: 100%; 
    }


    #titulo4{
        grid-area: titulo4;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo3{
        grid-area: paragrafo3;
        font-size: 20px;
    }
    #video2{
        grid-area: video2;
        height: 90%;
        margin: 0;
    }
    #imagemRE1{
        grid-area: re1;
        display: flex;
        width: 100%; 
        height: 90%;
    }
    #imagemRE2{
        grid-area: re2;
        display: flex;
        width: 100%; 
        height: 90%;
    }


    #titulo5{
        grid-area: titulo5;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo4{
        grid-area: paragrafo4;
        font-size: 20px;
    }
    #video3{
        grid-area: video3;
        height: 95%;
        margin: 0;
        
    }


    #titulo6{
        grid-area: titulo6;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo5{
        grid-area: paragrafo5;
        font-size: 20px;
    }
    #video4{
        grid-area: video4;
        margin: 0;
    }
    #imagemgtavc{
        grid-area: gtavc1;
        display: flex;
        width: 100%; 
    }
    #imagemgtavc2{
        grid-area: gtavc2;
        display: flex;
        width: 100%;
    }
    #imagemgtavc3{
        grid-area: gtavc3;
        display: flex;
        width: 100%;
        height: 90%;
    }


    #titulo7{
        grid-area: titulo7;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo6{
        grid-area: paragrafo6;
        font-size: 20px;
    }
    #video5{
        grid-area: video5;
        height: 80%;
        margin: 0;
    }
    #imagemgGT1{
        grid-area: GT;
        display: flex;
        width: 100%;
    }
    #imagemgGT2{
        grid-area: GT2;
        display: flex;
        width: 100%;
    }


    #titulo8{
        grid-area: titulo8;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo7{
        grid-area: paragrafo7;
        font-size: 20px;
    }
    #video6{
        grid-area: video6;
        height: 100%;
        margin: 0;
    }


    #titulo9{
        grid-area: titulo9;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo8{
        grid-area: paragrafo8;
        font-size: 20px;
    }
    #video7{
        grid-area: video7;
        height: 100%;
        margin: 0;
    }
    #gow1{
        grid-area: gow1;
        display: flex;
        width: 100%;
        height: 100%;
    }
    #gow2{
        grid-area: gow2;
        display: flex;
        width: 100%;
        height: 100%;
    }
    #gow3{
        grid-area: gow3;
        display: flex;
        width: 100%;
        height: 100%;
    }
    #gowLogo{
        grid-area: gowLogo;
        display: flex;
        width: 100%;
        height: 100%;
    }


    #titulo10{
        grid-area: titulo10;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo9{
        grid-area: paragrafo9;
        font-size: 20px;
    }
    #video8{
        grid-area: video8;
        height: 100%;
        margin: 0;
    }
    #sc1{
        grid-area: sc1;
        display: flex;
        width: 100%;
        height: 100%;
    }
    #sc2{
        grid-area: sc2;
        display: flex;
        width: 100%;
        height: 100%;
    }




    #titulo11{
        grid-area: titulo11;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo10{
        grid-area: paragrafo10;
        font-size: 20px;
    }
    #video9{
        grid-area: video9;
        height: 100%;
        margin: 0;
    }
    #mgs1{
        grid-area: mgs1;
        display: flex;
        width: 100%;
        height: 95%;
    }


    #titulo12{
        grid-area: titulo12;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo11{
        grid-area: paragrafo11;
        font-size: 20px;
    }
    #video10{
        grid-area: video10;
        height: 100%;
        margin: 0;
    }
    #sa1{
        grid-area: sa1;
        display: flex;
        width: 100%;
        
    }
    #sa2{
        grid-area: sa2;
        display: flex;
        width: 100%;
        
    }
    #sa3{
        grid-area: sa3;
        display: flex;
        width: 100%;
        
    }
    #sa4{
        grid-area: sa4;
        display: flex;
        width: 100%;
        
    }


    #titulo13{
        grid-area: titulo13;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo12{
        grid-area: paragrafo12;
        font-size: 20px;
    }

    footer{
        grid-area: footer;
        font-size: 20px;
    }
}

@media (min-width:1024px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        gap: 10px  20px;
        grid-template-areas:
        'nav nav'
        'titulo1 titulo1'
        'titulo2 titulo2'
        'paragrafo1 play2'
        'titulo3 titulo3'
        'video1 paragrafo2'
        'video1 paragrafo2'
        'titulo4 titulo4'
        'paragrafo3 video2'
        'paragrafo3 video2'
        'paragrafo3 re2'
        'titulo5 titulo5'
        'video3 paragrafo4'
        'titulo6 titulo6'
        'paragrafo5 video4'
        'paragrafo5 gtavc1'
        'titulo7 titulo7'
        'video5 paragrafo6'
        'GT2 paragrafo6'
        'titulo8 titulo8'
        'paragrafo7 video6'
        'titulo9 titulo9'
        'video7 paragrafo8'
        'gow2 paragrafo8'
        'titulo10 titulo10'
        'paragrafo9 video8'
        'paragrafo9 sc1'
        'titulo11 titulo11'
        'video9 paragrafo10'
        'titulo12 titulo12'
        'paragrafo11 video10'
        'paragrafo11 sa1'
        'titulo13 titulo13'
        'paragrafo12 paragrafo12'
        'footer footer'
        ;
    }


    .navegacao{
        grid-area: nav;
        
        
    }
    .navFi{
        padding: 15px 25px;
        margin: 5px 0;
        background-color: var(--cor1--para--botao);
        border-radius:10px ;
        font-size: 20px;
        
    }
    .navFi:hover{
        padding: 20px 30px;
        margin: 0px 0;
    }


    #titulo1{
        grid-area: titulo1;
        font-size: 45px ;
    }


    #titulo2{
        grid-area: titulo2;
        font-size: 35px;
        text-align: center;
    }
    #paragrafo1{
        grid-area: paragrafo1;
        font-size: 20px;
    }
    .play2{
        grid-area: play2;
        display: flex;
        width: 100%; 
        margin: 0;
        
    }
    .play22{
        display: none;
        
    }


    #titulo3{
        grid-area: titulo3;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo2{
        grid-area: paragrafo2;
        font-size: 20px;
    }
    #video1{
        grid-area: video1;
        margin: 0;
        height: 95%;
    }
    


    #titulo4{
        grid-area: titulo4;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo3{
        grid-area: paragrafo3;
        font-size: 20px;
    }
    #video2{
        grid-area: video2;
        height: 100%;
        margin: 0;
    }
    #imagemRE2{
        grid-area: re2;
        display: flex;
        width: 100%; 
        height: 95%;
    }


    #titulo5{
        grid-area: titulo5;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo4{
        grid-area: paragrafo4;
        font-size: 20px;
    }
    #video3{
        grid-area: video3;
        height: 95%;
        margin: 0;
        
    }


    #titulo6{
        grid-area: titulo6;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo5{
        grid-area: paragrafo5;
        font-size: 20px;
    }
    #video4{
        grid-area: video4;
        margin: 0;
        height: 100%;
    }
    #imagemgtavc{
        grid-area: gtavc1;
        display: flex;
        width: 100%; 
        height: 95%;
    }
   


    #titulo7{
        grid-area: titulo7;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo6{
        grid-area: paragrafo6;
        font-size: 20px;
    }
    #video5{
        grid-area: video5;
        height: 100%;
        margin: 0;
    }
    #imagemgGT2{
        grid-area: GT2;
        display: flex;
        width: 100%;
        height: 95%;
    }


    #titulo8{
        grid-area: titulo8;
        text-align: center;
        font-size: 35px;
        
    }
    #paragrafo7{
        grid-area: paragrafo7;
        font-size: 20px;
    }
    #video6{
        grid-area: video6;
        height: 100%;
        margin: 0;
    }


    #titulo9{
        grid-area: titulo9;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo8{
        grid-area: paragrafo8;
        font-size: 20px;
    }
    #video7{
        grid-area: video7;
        height: 100%;
        margin: 0;
    }
    #gow2{
        grid-area: gow2;
        display: flex;
        width: 100%;
        height: 95%;
    }
    


    #titulo10{
        grid-area: titulo10;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo9{
        grid-area: paragrafo9;
        font-size: 20px;
    }
    #video8{
        grid-area: video8;
        height: 100%;
        margin: 0;
    }
    #sc1{
        grid-area: sc1;
        display: flex;
        width: 100%;
        height: 100%;
    }




    #titulo11{
        grid-area: titulo11;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo10{
        grid-area: paragrafo10;
        font-size: 20px;
    }
    #video9{
        grid-area: video9;
        height: 100%;
        margin: 0;
    }
    


    #titulo12{
        grid-area: titulo12;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo11{
        grid-area: paragrafo11;
        font-size: 20px;
    }
    #video10{
        grid-area: video10;
        height: 100%;
        margin: 0;
    }
    #sa1{
        grid-area: sa1;
        display: flex;
        width: 100%;
        height: 97%;
        
    }
    


    #titulo13{
        grid-area: titulo13;
        text-align: center;
        font-size: 35px;
    }
    #paragrafo12{
        grid-area: paragrafo12;
        font-size: 20px;
    }

    footer{
        grid-area: footer;
        font-size: 20px;
    }
}